{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "extends":["eslint-config-prettier"],
  "plugins": ["eslint-plugin-prettier"],
  "rules": {
    "prettier/prettier": [2, { "endOfLine": "auto"}],
    "no-console": 0,
    "semi": [
      2,
      "always",
      {
        "omitLastInOneLineBlock": true
      }
    ],
    "indent": [2, 2, {
      "SwitchCase": 1
    }],
    "comma-dangle": [2, "never"],
    "quotes": [2, "double"]
  },
  "overrides": [
    {
      "files": ["*.{jsx,js}"],
      "env": {
        "browser": true,
        "es6": true
      }
    }
  ]
}