.listing--container{
    font-size: 16px;
}
.listing--image--container{
    padding-top: 120%;
    width: 100%;
    position: relative;
}
.listing--image--div{
    padding-top: 120%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.listing--image{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    transition: opacity .5s linear;
    opacity: 1;
    margin: auto;
    z-index: 0;
}
.listing--link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    border: none;
    outline: none;
    position: relative;
    display: block;
    text-align: left;
}
.listing--details--section{
    width: 100%;
    padding: 8px 0px 8px 0px;
    position: relative;
    background: #fff;
    z-index: 2;
}
.listing--featured{
    top: -8px;
    left: -8px;
    cursor: pointer;
    font-size: 12px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
    padding: 0px 6px 0 10px;
    border-radius: 4px 0 0;
    position: absolute;
    height: 26px;
    z-index: 4;
    background-color: blue;
}
.listing--featured::after{
    content: "";
    width: 10px;
    height: 26px;
    border-right: 10px solid transparent;
    border-top: 26px solid blue;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: -10px;
}
.listing--category{
    color: #878787;
    font-size: 14px;
    font-weight: 500;
    width: calc(100% - 40px);
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.listing--name{
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
}
.listing--price--original{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    color: #212121;
}
.listing--price--mrp{
    display: inline-block;
    margin-left: 8px;
    text-decoration: line-through;
    font-size: 14px;
    color: #878787;
}
.listing--price--discount{
    color: #388e3c;
    font-size: 14px;
    letter-spacing: -.2px;
    font-weight: 500;
    display: inline-block;
    margin-left: 8px;
}
.listing--size{
    padding-top: 5px;
}
.listing--size--span{
    color: #878787;
    font-weight: 500;
}
.listing--details--right > div{
    overflow: hidden;
}
.weight{
    display: inline-block;
    max-width: 30px;
    white-space: nowrap;
}
.listing--color{
    padding-top: 2px;
    display: inline-flex;
    align-items: center;
}
.listing--color-design{
    width: 20px;
    height: 20px;
    display: inline-block;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .1);
    border-radius: 50%;
    margin-left: 8px;
}
.listing--details--right{
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 10px;
}

.star-ratings-css {
    height: 22px;
    width: 120px;
    unicode-bidi: bidi-override;
    color: #bbb;
    font-size: 25px;
    position: relative;
    padding: 0;
}
.star-ratings-css-top {
    color: #fec42d;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
}
.star-ratings-css-bottom {
    padding: 0;
    display: flex;
    z-index: 0;
}
.listing--star{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 5px;
}
.listing--review{
    line-height: normal;
    margin-left: 8px;
}